{include file="public/head"}
<body>
{include file="public/header"}
{include file="public/nav"}

<div class="container">
    <div class="banner">
        {volist name="banner" id="vo"}
        <img src="{$vo.image}" height='238' alt="">
        {/volist}
        {volist name="banner_right" id="vo"}
        <img src="{$vo.image}" alt="">
        {/volist}
    </div>
</div>
<div class="container">
    <div class="food">
        <h2>美食</h2>
        {volist id="vo" name="datas"}
        <div class="item">
            <a href="">
                <figure>
                    <img src="{$vo.image}" width='216' alt="">
                </figure>
                <h4>{$vo.name}</h4>
                {$vo.description|subtext=20}
                <p class="price">￥{$vo.origin_price}</p>
                <p><span>4.7分</span><span class="pull-right">已售{$vo.total_count}件</span></p>
            </a>

        </div>
        {/volist}
    </div>
</div>

<script>
    
</script>
</body>
</html>