{include file="public/head"}

<body>
{include file="public/header"}
{include file="public/nav"}

<!--二级导航-->
<section class="container">
  <ul class="list-inline se_nav">
    <li><a href="">全部</a></li>
    <li><span>&gt;</span></li>
    <li>
      <a href="">美食</a>
      <ul class="list-inline se_nav_son">
      {volist name="categorys" id="vo"}
        <li><a href="">{$vo.name}</a></li>
       {/volist}
      </ul>
    </li>
  </ul>
</section>
<section class="container ">
  <div class="th_nav">
    <!--分类-->
    <div class="th_nav_category clearfix">
      <span class="th_nav_category_1">分类</span>
      <span class="th_nav_category_2 {if condition='$id eq 0'}th_nav_category_color{/if}">全部</span>
      <div class="th_nav_category_content">
        {volist name="categorys" id="vo"}
        <a href="{:url('lists/index',['id'=>$vo.id])}" class="{if condition='$vo.id eq $categoryParentId'}th_nav_category_color{/if}">{$vo.name}</a>
        {/volist}
      </div>
      <span class="th_nav_category_3"><a href="">更多</a></span>
    </div>
    <!--区域-->
    {if condition="$sedcategorys"}
    <div class="th_nav_category clearfix">
      <span class="th_nav_category_1">子分类</span>
      <span class="th_nav_category_2 {if condition='$id eq 0'}th_nav_category_color{/if}" >全部</span>
      <div class="th_nav_category_content">
        {volist name="sedcategorys" id="vo"}
        <a href="{:url('lists/index',['id'=>$vo.id])}"><span class=" {if condition='$vo.id eq $id'}th_nav_category_color{/if}">{$vo.name}</span></a>
        {/volist}

      </div>
      <span class="th_nav_category_3"><a href="">更多</a></span>
    </div>
    {/if}
    <!--价格-->
    <div class="th_nav_category clearfix">
      <span class="th_nav_category_1">价格</span>
      <span class="th_nav_category_2">全部</span>
      <div class="th_nav_category_content">
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
      </div>
    </div>
    <!--人数-->
    <div class="th_nav_category clearfix">
      <span class="th_nav_category_1">人数</span>
      <span class="th_nav_category_2">全部</span>
      <div class="th_nav_category_content">
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
      </div>
    </div>
  </div>
</section>
<section class="container clearfix">
  <ul class="list-inline pull-left">
    <li><a href="">默认</a></li>
    <li><a href="">销量</a></li>
    <li><a href="">价格</a></li>
    <li><a href="">折扣</a></li>
    <li><a href="">最新发布</a></li>
    <li><a href="">最新发布</a></li>
    <li><input type="checkbox"><a href="">免预约</a></li>
    <li><input type="checkbox"><a href="">优惠券</a></li>
    <li><input type="checkbox"><a href="">全网低价</a></li>
    <li><input type="checkbox"><a href="">精品品牌</a></li>
  </ul>
  <div class="pull-right">
    <span>
      <a href="javascript:;" class=""><span>&lt;</span></a>
      <span class="">
        <span class="current">
          <strong>1</strong>
        </span>/48</span>
      <a href="" class="" ><span>&gt;</span></a>
    </span>
  </div>
</section>
<div class="container">
  <div class="food">
    <div class="item">
      <a href="">
        <figure>
          <img src="__STATIC__/index/image/e.jpg" width='216' alt="">
        </figure>
        <h4>【武清区】好士烤肉王</h4>
        <p>烤肉+火锅自助单人餐1份！免费停车，免费WiFi！</p>
        <p class="price">$49.6</p>
        <p><span>4.7分</span><span class="pull-right">已售456件</span></p>
      </a>

    </div>
    <div class="item">
      <a href="">
        <figure>
          <img src="__STATIC__/index/image/e.jpg" width='216' alt="">
        </figure>
        <h4>【武清区】好士烤肉王</h4>
        <p>烤肉+火锅自助单人餐1份！免费停车，免费WiFi！</p>
        <p class="price">$49.6</p>
        <p><span>4.7分</span><span class="pull-right">已售456件</span></p>
      </a>

    </div>
    <div class="item">
      <a href="">
        <figure>
          <img src="__STATIC__/index/image/e.jpg" width='216' alt="">
        </figure>
        <h4>【武清区】好士烤肉王</h4>
        <p>烤肉+火锅自助单人餐1份！免费停车，免费WiFi！</p>
        <p class="price">$49.6</p>
        <p><span>4.7分</span><span class="pull-right">已售456件</span></p>
      </a>

    </div>
    <div class="item">
      <a href="">
        <figure>
          <img src="__STATIC__/index/image/e.jpg" width='216' alt="">
        </figure>
        <h4>【武清区】好士烤肉王</h4>
        <p>烤肉+火锅自助单人餐1份！免费停车，免费WiFi！</p>
        <p class="price">$49.6</p>
        <p><span>4.7分</span><span class="pull-right">已售456件</span></p>
      </a>

    </div>
    <div class="item">
      <a href="">
        <figure>
          <img src="__STATIC__/index/image/e.jpg" width='216' alt="">
        </figure>
        <h4>【武清区】好士烤肉王</h4>
        <p>烤肉+火锅自助单人餐1份！免费停车，免费WiFi！</p>
        <p class="price">$49.6</p>
        <p><span>4.7分</span><span class="pull-right">已售456件</span></p>
      </a>

    </div>
    <div class="item">
      <a href="">
        <figure>
          <img src="__STATIC__/index/image/e.jpg" width='216' alt="">
        </figure>
        <h4>【武清区】好士烤肉王</h4>
        <p>烤肉+火锅自助单人餐1份！免费停车，免费WiFi！</p>
        <p class="price">$49.6</p>
        <p><span>4.7分</span><span class="pull-right">已售456件</span></p>
      </a>

    </div>


  </div>
</div>
</body>
</html>