{include file="public/head"}
<style>
  .only .son{
    display: none;
  }
  .only:hover .son{
    display: block;
  }
  .dashed{
    border-bottom: 1px dashed #ddd;
    margin-top: 20px;
  }
  section.container{
    width: 1000px;
  }
  .no_left_padding{
    padding-left: 0;
  }
  .price{
    background-color: #ddd;
    padding: 10px;
  }
  .price .pull-right{
      border-left:1px solid #717171;
      padding-left: 10px;
  }
  .price span:first-child{
    font-size: 28px;
    color: #FF934C;
  }
  .strategy{
    border-top: 1px dashed #929191;
    border-bottom: 1px dashed #929191;
    padding: 20px 0;
  }
  .strategy span,.strategy a{
    padding:10px 44px;
    display: inline-block;
  }
  .strategy a{
    border-left:1px solid #ddd;
  }
  .time{
    margin-top: 20px;
  }
  .number{
    margin-top: 10px;
  }
  .number span:first-child{
    margin-right:50px;
  }
  .reduce,.plus{
    height: 25px;
    border: 1px solid #ddd;
    display: inline-block;
    width: 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  .number input{
    width: 50px;
    text-align: center;
    height: 25px;
  }
  .im_buy{
    margin-top: 35px;
  }
  .im_buy a{
    padding: 12px 35px;
    background-color: #FE8A4B;
    color: white;
  }
  .content{
    padding-left: 0;
    margin-top: 30px;
  }
  .tab-content{
    margin-top: 20px;
  }
  .tab-pane>div{
    padding-left:0 ;
  }
  .nav-tabs {
    border-bottom: 1px solid #FF658E;

  }
  .nav-tabs > li{
    padding-bottom: 1px;
  }
  .nav-tabs > li>a{
    padding: 15px 45px;
    font-size: 16px;
    color: black;


  }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: white;
    cursor: default;
    background-color: #FF658E;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
  }
  .tab_content_text h3{
    color: #FF658E;
    font-size: 18px;
  }
  .ride a{
    color: black;
  }
</style>
<body>
{include file="public/header"}
{include file="public/nav"}


<!--面包屑导航-->
<article class="dashed">
  <section class="container">
      <ul class="list-inline">
        <li><a href="">团购</a></li>
        <li><span>&gt;</span></li>
        <li><a href="">美食</a></li>
        <li><span>&gt;</span></li>
        <li><a href="">奥尔良烤鸡老木子鸡(节制闸店)</a></li>
      </ul>
  </section>
</article>
<section class="container">
  <div class="row">
    <h2>奥尔良烤鸡老木子鸡(节制闸店)</h2>
    <p>仅售30元，价值35元香辣翅根1斤！免费停车！</p>
    <div>
      <div class="col-xs-6 no_left_padding">
        <img src="__STATIC__/index/image/45.jpg" alt="">
      </div>
      <div class="col-xs-6 no_left_padding">
          <div class="price clearfix">
            <span>￥30</span>
            <span class="pull-right">¥35<br>门市价</span>
          </div>
          <div class="strategy">
            <span>2118人已团购</span>
            <a href=""><i class="glyphicon glyphicon-question-sign"></i>暂无评论</a>
            <a href=""><i class="glyphicon glyphicon-heart-empty"></i>随便退</a>
          </div>
          <p class="time">有效期　　　2018-04-29</p>
          <div class="number"><span>数量</span><span class="reduce">-</span><input type="text" value="1"><span class="plus">+</span></div>
          <p class="im_buy"><a href="">立即抢购</a></p>
      </div>

    </div>
  </div>
</section>
<article class="dashed"></article>
<section class="container">
  <div class="row">
    <div class="col-xs-8 content">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">本店详情</a></li>
        <li><a href="#ios" data-toggle="tab">消费提示</a></li>
        <li><a href="" data-toggle="tab">商家介绍</a></li>
        <li><a href="" data-toggle="tab">会员评价</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <div class="col-xs-6">
            <img src="__STATIC__/index/image/10438.png" class="img-responsive" alt="">
          </div>
          <div class="col-xs-6 tab_content_text">
            <h3>奥尔良烤鸡老木子鸡(节制闸店)</h3>
            <p>南通市崇川区外环西路140号（节制闸农贸市场南边公交站台后）</p>
            <p>13773639189</p>
            <div class="ride">
              <a href=""><span>查询地图</span></a>
              <a href=""><span>公交/驾车去这里</span></a>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="ios">
          <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
            TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
        </div>
      </div>
    </div>
    <div class="col-xs-4"></div>
  </div>
</section>
<script src="__LIB__/jquery/1.9.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>