{include file="public/head"}
<style>
  .only .son{
    display: none;
  }
  .only:hover .son{
    display: block;
  }
  .breadcrumb .category{
    position: absolute;
  }
  .se_nav{
    margin-top: 20px;
  }
  .se_nav>li>a{
    border: 1px solid #ddd;
    padding: 5px;
  }
  .se_nav>li:last-child{
    position: relative;

  }

  .se_nav_son{
    position: absolute;
    width: 200px;
    display: none;
    border: 1px solid #ddd;

  }
  .se_nav>li:last-child>a:hover{
    border: 1px solid #FF318C;
    border-bottom: none;
  }
  .se_nav>li:last-child:hover .se_nav_son{
    display: block;
    border: 1px solid #FF318C;
  }
  .th_nav{
    border: 1px solid #ddd;
  }
  .th_nav .th_nav_category:last-child {
    border: none;
  }
  .th_nav_category{
    padding: 20px;
    border-bottom: 1px dashed #ddd;
  }
  .th_nav_category_1,.th_nav_category_2,.th_nav_category_3{
   float: left;
    width: 40px;

  }
  .th_nav_category_2{
    background-color:#FF318C ;
    text-align: center;

  }
  .th_nav_category_3{
    margin-left: 20px;

  }
  .th_nav_category_3 a{
    color: #b3b2b2;
  }
  .th_nav_category_content{
    width: 920px;
    float: left;
  }
  .th_nav_category_content a{
    color: #797676;
    padding: 3px 20px;
  }
</style>
<body>
{include file="public/header"}
{include file="public/nav"}

<!--二级导航-->
<section class="container">
  <ul class="list-inline se_nav">
    <li><a href="">全部</a></li>
    <li><span>&gt;</span></li>
    <li>
      <a href="">美食</a>
      <ul class="list-inline se_nav_son">
        <li><a href="">美食1</a></li>
        <li><a href="">美食1</a></li>
        <li><a href="">美食1</a></li>
        <li><a href="">美食1</a></li>
        <li><a href="">美食1</a></li>
        <li><a href="">美食1</a></li>
      </ul>
    </li>
  </ul>
</section>
<section class="container ">
  <div class="th_nav">
    <!--分类-->
    <div class="th_nav_category clearfix">
      <span class="th_nav_category_1">分类</span>
      <span class="th_nav_category_2">全部</span>
      <div class="th_nav_category_content">
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
      </div>
      <span class="th_nav_category_3"><a href="">更多</a></span>
    </div>
    <!--区域-->
    <div class="th_nav_category clearfix">
      <span class="th_nav_category_1">区域</span>
      <span class="th_nav_category_2">全部</span>
      <div class="th_nav_category_content">
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
      </div>
      <span class="th_nav_category_3"><a href="">更多</a></span>
    </div>
    <!--价格-->
    <div class="th_nav_category clearfix">
      <span class="th_nav_category_1">价格</span>
      <span class="th_nav_category_2">全部</span>
      <div class="th_nav_category_content">
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
      </div>
    </div>
    <!--人数-->
    <div class="th_nav_category clearfix">
      <span class="th_nav_category_1">人数</span>
      <span class="th_nav_category_2">全部</span>
      <div class="th_nav_category_content">
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
        <a href="">今日新单</a>
      </div>
    </div>
  </div>
</section>

</body>
</html>