{include file="public/head"}

<body>
{include file="public/header"}
{include file="public/nav"}


<!--面包屑导航-->
<article class="dashed">
  <section class="container">
      <ul class="list-inline">
        <li><a href="">团购</a></li>
        <li><span>&gt;</span></li>
        <li><a href="">{$category->name}</a></li>
        <li><span>&gt;</span></li>
        <li><a href="">{$locations[0]->name}</a></li>
      </ul>
  </section>
</article>
<section class="container">
  <div class="row">
    <h2>{$locations[0]->name}</h2>
    <p>{$deal->name}</p>
    <div>
      <div class="col-xs-6 no_left_padding">
        <img src="{$deal->image}" alt="">
      </div>
      <div class="col-xs-6 no_left_padding">
          <div class="price clearfix">
            <span>￥{$deal->current_price}</span>
            <span class="pull-right">￥{$deal->origin_price}<br>门市价</span>
          </div>
          {eq name="flag" value="1"}
          <div>
            距离团购开始还有{$timedata}
          </div>
          {/eq}
          <div class="strategy">
            <span>{$deal->buy_count}人已团购</span>
            <a href=""><i class="glyphicon glyphicon-question-sign"></i>暂无评论</a>
            <a href=""><i class="glyphicon glyphicon-heart-empty"></i>随便退</a>
          </div>
          <p class="time">有效期　　　{$deal->coupons_end_time|date="Y-m-d H:i:s",###}</p>
          <div class="number"><span>数量</span><span class="reduce">-</span><input type="text" value="1"><span class="plus">+</span>　还剩余{$overplus}份</div>
          {if condition="$flag eq 1"}
           <p class="im_buy"><span disabled="disabled">立即抢购</span></p>
           {else/}
           <p class="im_buy"><a href="">立即抢购</a></p>
          {/if}
      </div>

    </div>
  </div>
</section>
<article class="dashed"></article>
<section class="container">
  <div class="row">
    <div class="col-xs-8 content">
      <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#home" data-toggle="tab">本店详情</a></li>
        <li><a href="#ios" data-toggle="tab">消费提示</a></li>
        <li><a href="" data-toggle="tab">商家介绍</a></li>
        <li><a href="" data-toggle="tab">会员评价</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <div class="col-xs-6">
            <img src="{:url('map/getMapImage',['data'=>$mapstr])}" class="img-responsive" alt="">
          </div>
          <div class="col-xs-6 tab_content_text">
            <h3>奥尔良烤鸡老木子鸡(节制闸店)</h3>
            <p>南通市崇川区外环西路140号（节制闸农贸市场南边公交站台后）</p>
            <p>13773639189</p>
            <div class="ride">
              <a href=""><span>查询地图</span></a>
              <a href=""><span>公交/驾车去这里</span></a>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="ios">
          <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
            TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
        </div>
      </div>
    </div>
    <div class="col-xs-4"></div>
  </div>
</section>
<script src="__LIB__/jquery/1.9.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>