<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{$title}</title>
  <link rel="shortcut icon" href="">

  <link rel="stylesheet" href="__STATIC__/index/css/bootstrap.css" />
  <link rel="stylesheet" href="__STATIC__/index/css/head.css">
  <link rel="stylesheet" href="__STATIC__/index/css/base.css">
  <link rel="stylesheet" href="__STATIC__/index/css/{$controller}.css">

  <script type="text/javascript" src="__LIB__/html5shiv.js"></script>
  <script type="text/javascript" src="__LIB__/respond.min.js"></script>
  <script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script>
</head>
