<div class="container">
    <div class="">
        <ul class="list-inline category">
            <li class="father only"><span class="item ">全部分类</span>
                <div class="son">
                    <ul class="list-unstyled">
                        {volist name="cat" id="cat"}
                        <li>
                            <a href="{:url('lists/index',['id'=>$key])}">{$cat[0]}</a>
                            <div class="pull-right">
                                {volist name="cat[1]" id="vo" length="2"}
                                <a href="{:url('lists/index', ['id'=>$vo.id])}">{$vo.name}</a>
                                {/volist}

                            </div>
                            <div class="son_detail">
                                <p>全部分类</p>
                                <ul class="list-inline">
                                    {volist name="cat[1]" id="vo"}
                                    <li><a href="{:url('lists/index', ['id'=>$vo.id])}">{$vo.name}</a></li>
                                    {/volist}

                                </ul>
                            </div>
                        </li>
                        {/volist}

                    </ul>

                </div>
            </li>
            <li><a href="{:url('index/index')}">首页</a></li>
            <li><a href="">电影</a></li>
            <li><a href="">酒店</a></li>
            <li><a href="">出行</a></li>
            <li><a href="">今日新单</a></li>
        </ul>
    </div>
</div>