.navbar-nav>li{
    padding: 10px;
}
.navbar-nav>li> a{
    padding: 0;
}
.nav.navbar-nav.navbar-right{
    padding-right: 15px;
}
.city:hover .city-drop-down{
    display: block;
}
.city-drop-down{
    width: 230%;
    display: none;
    position: absolute;
    background-color:#d6fdd3;
}

.category{
    background-color: #313137;
    margin-bottom: 0;
}
.category>li{
    padding: 15px 20px;

}
.category>li>a{
    color: white;
}
.category>li:first-child{
    background-color: #FF318C;
    color: white;
    padding: 15px 80px;
    position: relative;
}

.category .son{
    position: absolute;
    left: 0;
    top:50px;
    width: 216px;
    border: 1px solid #ddd;
    border-top:none;
    border-bottom:none;
}


.category .son>ul>li{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #d1d3d4;

}

.category .son_detail{
    position: absolute;
    background-color: rgba(161, 167, 161, 0.82);
    top:0;
    left:215px;
    width: 100%;
    padding: 5px;
    display: none;
}
.category .son>ul>li:hover .son_detail{
    display: block;
}