
.banner{
    margin-left: 231px;
}
.banner .item{
    width: 303px;
    float: left;
    padding: 20px;
    border:1px solid #ddd;
}
.banner .item>div{
    padding: 10px;
}

.food .item{
    width: 20%;

    padding: 5px;
    float: left;
}
.food .item a{
    border: 1px solid rgba(255, 0, 0, 0);
    display: inline-block;
    padding: 3px;
}
.food .item a:hover{
    border: 1px solid red;
}

.food .item a{
    text-decoration: none;
}
.food .item a h4{
    color: #444;
}
.food .item a p{
    color: #666;
}
.food .item .price{
    color: #ff4883;
}
